In [1]:
import pandas as pd

df_hsp_song_collab = pd.read_csv("HSP_song_collab.csv", sep=",")
df_hsp_song_collab

,song_id,song_name,song_popularity,explicit,song_type,track_number,num_artists,num_available_markets,release_date,duration_ms,...,betweenesscentrality_y,closnesscentrality_y,clustering_y,degree_y,eccentricity_y,eigencentrality_y,weighted degree_y,Cluster_y,profile_y,years_on_charts
0,7IRjhtyxOuOfKf7o6mGx7h,Tango Ranchero,0.0,False,Solo,10.0,1.0,79.0,2015-08-26,155253.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.000000
1,1JGBOT6HGJQIIFNyKtsiKW,Fools Rush in,0.0,False,Solo,10.0,1.0,79.0,2015-08-26,168173.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.000000
2,6bACgWeZxohHdHEloVJ75Z,I Hear a Symphony,0.0,False,Solo,6.0,1.0,79.0,2015-08-26,176267.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.000000
3,6QhJggnKZXqH0TENb84oTG,I'll Never Smile Again,0.0,False,Solo,9.0,1.0,79.0,2015-08-26,204360.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.000000
4,0dZJ3d5VOpc08FAQz98cdo,I Give You Everything,0.0,False,Solo,34.0,1.0,79.0,2015-08-26,188996.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226353,5ke0edZBlwRYu01wdej6xq,Let Her In,4.0,False,Solo,7.0,1.0,79.0,2019-08-23,183600.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.383562
226354,12kc7hUJKpArFQurhlNeNW,Stop and Think It Over,1.0,False,Solo,9.0,1.0,79.0,2019-08-23,154413.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.172603
226355,0lej8CemYKkWVHg77Xe1ky,A Man Holdin' on (To a Woman Lettinâ€™ Go),14.0,False,Collaboration,7.0,2.0,79.0,2019-08-23,231898.0,...,0.0,0.666667,0.0,1.0,2.0,0.5,2.0,3.0,1A 2A 3A 4A,0.191781
226356,7goArBQdsalqclSyaTywAS,Shimmy Shimmy Ya,7.0,False,Solo,8.0,1.0,78.0,2019-08-23,161200.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.287671
226357,6Fh2QgjCxL96dA3Gtpfr4Q,One Sweet Day (16-Bit Mariah Carey & Boyz II M...,0.0,False,Solo,27.0,1.0,79.0,2019-08-26,260910.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.517808

## Setup for Superstar:

within 3 years

In [2]:
max_amount_days = 3*365
max_amount_days

past_years = 3

In [3]:
from sklearn.model_selection import train_test_split
df_hsp_song_collab['date'] = pd.to_datetime(df_hsp_song_collab['release_date'])
df_hsp_song_collab.sort_values(by="date", inplace=True)

split_day = df_hsp_song_collab["date"].iloc[-1]  - pd.DateOffset(years=1)
train_df = df_hsp_song_collab[(df_hsp_song_collab["date"]  < split_day)].copy()
test_df = df_hsp_song_collab[(df_hsp_song_collab["date"]  >= split_day)].copy()
#train_df, test_df = train_test_split(df_hsp_song_collab, test_size=0.25, shuffle=False)
#train_df.drop(columns="date", inplace=True)
#test_df.drop(columns="date", inplace=True)

present = (train_df["date"].iloc[-1]).replace(hour=23, minute=59, second=59)
present_id = train_df["song_id"].iloc[-1]
border_day = present - pd.DateOffset(years=past_years) #border day doesn't belong to the timeframe

present, border_day

(Timestamp('2018-08-25 23:59:59'), Timestamp('2015-08-25 23:59:59'))

In [4]:
test_df

,song_id,song_name,song_popularity,explicit,song_type,track_number,num_artists,num_available_markets,release_date,duration_ms,...,closnesscentrality_y,clustering_y,degree_y,eccentricity_y,eigencentrality_y,weighted degree_y,Cluster_y,profile_y,years_on_charts,date
172150,4Gsqw7pb3z4OPDUeES6Daz,Don't Speak (8-Bit No Doubt Emulation),1.0,False,Solo,24.0,1.0,79.0,2018-08-26,266069.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,-1.0,No Match,0.000000,2018-08-26
172149,6tv2ZtGQcEiszwNpBx7wK2,Livin' It Up (8-Bit MONSTA X Emulation),0.0,False,Solo,23.0,1.0,79.0,2018-08-26,222211.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,-1.0,No Match,0.000000,2018-08-26
172147,2Yg7VknojyXmbAKnmrSAMU,Bitter Sweet Symphony (8-Bit The Verve Emulation),2.0,False,Solo,27.0,1.0,79.0,2018-08-26,255423.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,-1.0,No Match,0.000000,2018-08-26
172139,7g9Vsa7alv8WuR9COxDu9k,Sex and Candy (8-Bit Marcy Playground Emulation),0.0,False,Solo,21.0,1.0,79.0,2018-08-26,167013.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,-1.0,No Match,0.000000,2018-08-26
172146,4H1sr1GwbRuVIHZWcfkR8R,Day Spring,0.0,False,Solo,3.0,1.0,79.0,2018-08-26,278400.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,-1.0,No Match,0.000000,2018-08-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226332,6WrGNqos7nZLxV7QWTgyNO,I'll Keep You Satisfied,1.0,False,Collaboration,23.0,2.0,78.0,2019-08-23,126360.0,...,1.000000,0.000000,1.0,1.0,0.707107,62.0,0.0,1A 2B 3A 4A,0.134247,2019-08-23
226331,13MADoRclDrvJXcH0l7CFA,You Were on My Mind,1.0,False,Solo,8.0,1.0,79.0,2019-08-23,163533.0,...,0.172504,0.333333,4.0,14.0,0.056054,16.0,1.0,1A 2A 3A 4A,0.115068,2019-08-23
226356,7goArBQdsalqclSyaTywAS,Shimmy Shimmy Ya,7.0,False,Solo,8.0,1.0,78.0,2019-08-23,161200.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,-1.0,No Match,0.287671,2019-08-23
226343,2CZ46u5NGXQFXke3PMCuAK,Today I Started Loving You Again,3.0,False,Solo,15.0,1.0,78.0,2019-08-23,172147.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,-1.0,No Match,0.134247,2019-08-23
226357,6Fh2QgjCxL96dA3Gtpfr4Q,One Sweet Day (16-Bit Mariah Carey & Boyz II M...,0.0,False,Solo,27.0,1.0,79.0,2019-08-26,260910.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,-1.0,No Match,0.517808,2019-08-26

In [5]:
train_df

,song_id,song_name,song_popularity,explicit,song_type,track_number,num_artists,num_available_markets,release_date,duration_ms,...,closnesscentrality_y,clustering_y,degree_y,eccentricity_y,eigencentrality_y,weighted degree_y,Cluster_y,profile_y,years_on_charts,date
0,7IRjhtyxOuOfKf7o6mGx7h,Tango Ranchero,0.0,False,Solo,10.0,1.0,79.0,2015-08-26,155253.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-26
538,5b6DqoJcFC1D4yr6VKwaKY,Tango Elena,0.0,False,Solo,11.0,1.0,79.0,2015-08-26,135773.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-26
539,7BxuhX0WGbu9XL8IfEKvRy,Fireside Fantasy,0.0,False,Solo,26.0,1.0,79.0,2015-08-26,196989.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-26
540,0p0uCNGR5yD4R3jRtAUNXa,Il Silenzio,0.0,False,Solo,7.0,1.0,79.0,2015-08-26,200973.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-26
541,2OBXg5ZLAekWbJCDL7yyFn,God Bless the Child,0.0,False,Solo,11.0,1.0,79.0,2015-08-26,206720.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172024,5jHX0smzUImIP0BersUKJv,Puerto Toro,0.0,False,Solo,4.0,1.0,79.0,2018-08-25,355000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2018-08-25
172025,3nXCl6A9GI9008YJb8biqz,The Last Hippie,0.0,False,Solo,5.0,1.0,79.0,2018-08-25,385984.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2018-08-25
172026,16h5mVR7abqHXj8jBAiPdX,Not Mushroom,0.0,False,Solo,6.0,1.0,79.0,2018-08-25,398629.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2018-08-25
172027,0U8KFcdXcJE7Rh1F12CGTF,Time Lapse,0.0,False,Solo,21.0,1.0,79.0,2018-08-25,535148.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2018-08-25
172022,54AH4QCcA4aDpcCvpZIVV5,Minor Times,0.0,False,Solo,2.0,1.0,79.0,2018-08-25,437768.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2018-08-25

### days and peak position:

In [6]:
df_song_chart = pd.read_csv("../../MusicOSet/musicoset_popularity/song_chart.csv", sep="\t")            #nur auf train daten, da rest unbekannt (fÃ¼r charts)
df_song_chart['week'] = pd.to_datetime(df_song_chart['week']) #evtl spÃ¤ter wegen runtime
df_song_chart

,song_id,rank_score,peak_position,weeks_on_chart,week
0,3e9HZxeyfWwjeyPAMmWSSQ,100,100,7,2018-12-29
1,5p7ujcrUXASCNwRaWNHR1C,99,99,11,2018-12-29
2,2xLMifQCjDGFmkHkpNLD9h,98,100,20,2018-12-29
3,3KkXRkHbMCARz0aVfEt68P,97,97,9,2018-12-29
4,1rqqCSm0Qe4I9rUvWncaom,95,96,20,2018-12-29
...,...,...,...,...,...
250387,6vPS75nWOKkuH5WTLD8hDc,7,23,5,1964-01-04
250388,2BCjoFA0nJlXBLRf3164bN,6,6,0,1964-01-04
250389,7Gk1QKi2BAZCnrYlrYEDjC,4,11,4,1964-01-04
250390,7rxev6ErpRE5VYaamjs4T3,2,2,0,1964-01-04
250391,1TRvdHDqCIcTQpHTZbFttC,1,1,0,1964-01-04

In [7]:
to_filter = df_song_chart[df_song_chart["song_id"] == present_id] ## if len == 0 append 1

In [8]:
#mit bsp id

to_filter = df_song_chart[df_song_chart["song_id"] == "7yq4Qj7cqayVTp3FF9CWbm"]#.copy()
#to_filter['week'] = pd.to_datetime(to_filter['week'])
to_filter = to_filter[(to_filter["week"] < present) & (to_filter["week"] > border_day)]#pd.Timestamp("2015-05-02"))] ist immer fÃ¼r die Vergangene Woche das chart datum?
to_filter

Empty DataFrame
Columns: [song_id, rank_score, peak_position, weeks_on_chart, week]
Index: []

In [9]:
min_peak_position = to_filter["peak_position"].min()
peak_position_index = to_filter["peak_position"].idxmin()  #returns first occurance and therfore newer pos
min_peak_position, peak_position_index #best chart placement (append)

ValueError: attempt to get argmin of an empty sequence

In [ ]:
peak_week = to_filter.loc[peak_position_index]["week"]
peak_week

In [ ]:
distance = abs(peak_week - present) #distance from peak chart placement
distance

In [ ]:
seconds_float = distance.total_seconds()  #distance as float append

### Amount of Hits:

In [ ]:

to_filter = df_song_chart.copy()
#to_filter['week'] = pd.to_datetime(to_filter['week'])
to_filter = to_filter[(to_filter["week"] < present) & (to_filter["week"] > border_day)]
to_filter

In [ ]:
df_songs = pd.read_csv("../../MusicOSet/musicoset_metadata/songs.csv", sep="\t")            #nur auf train daten, da rest unbekannt (fÃ¼r charts)
df_songs["artists_ids"] = df_songs["artists"].apply(lambda x: list((eval(x)).keys()))
df_songs = df_songs[["song_id", 'artists_ids']]
df_songs

In [ ]:
df_songs["artists_ids"].iloc[3]

In [ ]:
df_num_hit = pd.merge(to_filter, df_songs)
df_num_hit = df_num_hit.drop_duplicates(subset=["song_id"])
#df_num_hit[df_num_hit["artists_ids"].apply(lambda x: len(x) > 1)]
df_num_hit

In [ ]:
df_counts = df_num_hit.groupby('song_id')['artists_ids'].apply(lambda x: list(x)).reset_index()
df_counts["artists_ids"] = df_counts["artists_ids"].apply(lambda x: [set(row_list) for row_list in x ])
#df_counts["artists_ids"].apply(lambda x: [print(elt) for elt in x])
df_counts["cardinality"] = 0
for index, id_sets in enumerate(df_counts["artists_ids"]):
    count = 0
    if len(id_sets) > 1:
        count +=1
        for i in range(len(id_sets)):
            for j in range(i+1, len(id_sets)):
                if id_sets[i] != id_sets[j]:
                    count += 1
    elif len(id_sets) == 1:
        count = 1
    df_counts["cardinality"].iloc[index] = count                    
df_counts

apparently no dupliacates exist

In [ ]:
df_num_hit = df_num_hit[df_num_hit["artists_ids"].apply(lambda x: "17lzZA2AlOHwCwFALHttmp" in x)] #bsp artist_id 
#amount_hits = df_num_hit["song_id"].nunique()                                                              #werden identische songs mit anderen Artists seperat gezÃ¤hlt? (intuitive ja) include it
#amount_hits
df_num_hit

## Loop:

In [10]:
train_df

,song_id,song_name,song_popularity,explicit,song_type,track_number,num_artists,num_available_markets,release_date,duration_ms,...,closnesscentrality_y,clustering_y,degree_y,eccentricity_y,eigencentrality_y,weighted degree_y,Cluster_y,profile_y,years_on_charts,date
0,7IRjhtyxOuOfKf7o6mGx7h,Tango Ranchero,0.0,False,Solo,10.0,1.0,79.0,2015-08-26,155253.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-26
538,5b6DqoJcFC1D4yr6VKwaKY,Tango Elena,0.0,False,Solo,11.0,1.0,79.0,2015-08-26,135773.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-26
539,7BxuhX0WGbu9XL8IfEKvRy,Fireside Fantasy,0.0,False,Solo,26.0,1.0,79.0,2015-08-26,196989.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-26
540,0p0uCNGR5yD4R3jRtAUNXa,Il Silenzio,0.0,False,Solo,7.0,1.0,79.0,2015-08-26,200973.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-26
541,2OBXg5ZLAekWbJCDL7yyFn,God Bless the Child,0.0,False,Solo,11.0,1.0,79.0,2015-08-26,206720.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172024,5jHX0smzUImIP0BersUKJv,Puerto Toro,0.0,False,Solo,4.0,1.0,79.0,2018-08-25,355000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2018-08-25
172025,3nXCl6A9GI9008YJb8biqz,The Last Hippie,0.0,False,Solo,5.0,1.0,79.0,2018-08-25,385984.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2018-08-25
172026,16h5mVR7abqHXj8jBAiPdX,Not Mushroom,0.0,False,Solo,6.0,1.0,79.0,2018-08-25,398629.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2018-08-25
172027,0U8KFcdXcJE7Rh1F12CGTF,Time Lapse,0.0,False,Solo,21.0,1.0,79.0,2018-08-25,535148.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2018-08-25
172022,54AH4QCcA4aDpcCvpZIVV5,Minor Times,0.0,False,Solo,2.0,1.0,79.0,2018-08-25,437768.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2018-08-25

In [11]:
df_song_chart = pd.read_csv("../../MusicOSet/musicoset_popularity/song_chart.csv", sep="\t")            #nur auf train daten, da rest unbekannt (fÃ¼r charts)
df_song_chart['week'] = pd.to_datetime(df_song_chart['week']) #evtl spÃ¤ter wegen runtime
df_song_chart

,song_id,rank_score,peak_position,weeks_on_chart,week
0,3e9HZxeyfWwjeyPAMmWSSQ,100,100,7,2018-12-29
1,5p7ujcrUXASCNwRaWNHR1C,99,99,11,2018-12-29
2,2xLMifQCjDGFmkHkpNLD9h,98,100,20,2018-12-29
3,3KkXRkHbMCARz0aVfEt68P,97,97,9,2018-12-29
4,1rqqCSm0Qe4I9rUvWncaom,95,96,20,2018-12-29
...,...,...,...,...,...
250387,6vPS75nWOKkuH5WTLD8hDc,7,23,5,1964-01-04
250388,2BCjoFA0nJlXBLRf3164bN,6,6,0,1964-01-04
250389,7Gk1QKi2BAZCnrYlrYEDjC,4,11,4,1964-01-04
250390,7rxev6ErpRE5VYaamjs4T3,2,2,0,1964-01-04
250391,1TRvdHDqCIcTQpHTZbFttC,1,1,0,1964-01-04

In [12]:
df_songs = pd.read_csv("../../MusicOSet/musicoset_metadata/songs.csv", sep="\t")            #nur auf train daten, da rest unbekannt (fÃ¼r charts)
df_songs["artists_ids"] = df_songs["artists"].apply(lambda x: list((eval(x)).keys()))
df_songs = df_songs[["song_id", 'artists_ids']]
df_songs

,song_id,artists_ids
0,3e9HZxeyfWwjeyPAMmWSSQ,[66CXWjxzNUsdJxJ2JdwvnR]
1,5p7ujcrUXASCNwRaWNHR1C,[26VFTg2z8YR0cCuwLzESi2]
2,2xLMifQCjDGFmkHkpNLD9h,[0Y5tJX1MQlPlqiwlOH1tJY]
3,3KkXRkHbMCARz0aVfEt68P,"[246dkjvS1zLTtiykXe5h60, 1zNqQNIdeOUZHb8zbZRFMX]"
4,1rqqCSm0Qe4I9rUvWncaom,[20JZFwl6HVl6yg8a4H3ZqK]
...,...,...
20400,4NnhLA66RRLXxKbiiscU9R,[5X3TuTi9OIsJXMGxPwTKM2]
20401,2jHfXdCLibrI1J56LnUAZv,[6lHC2EQMEMZiEmSfFloarn]
20402,6zqsyB7uIvWrL1iCJzpNrs,[5X3TuTi9OIsJXMGxPwTKM2]
20403,5mz9pQZZXNpAw9CdQ7Bk8q,[6lHC2EQMEMZiEmSfFloarn]
20404,2H9CKpZiLDF223BbwehpDF,[6wPhSqRtPu1UhRCDX5yaDJ]

In [13]:
def superstar(n, d, p):
    sup = 0
    for i in range(len(d)):
        sup += (d[i] + p[i])/2         #d[i] * p[i]          #um vanishing fÃ¼r einen 0 value zu verhindern alternativ: d+p/2 also mean nehmen?
        # oder aus allem den mean?
    return 1/n**2 * sup

def superstar_2(n, d, p):
    sup = 0
    for i in range(len(d)):
        sup += (d[i] + p[i])/2         #d[i] * p[i]          #um vanishing fÃ¼r einen 0 value zu verhindern alternativ: d+p/2 also mean nehmen?
        # oder aus allem den mean?
    return 1/n * sup

def superstar_3(n, d, p):
    sup = 0
    for i in range(len(d)):
        sup += p[i]        #d[i] * p[i]          #um vanishing fÃ¼r einen 0 value zu verhindern alternativ: d+p/2 also mean nehmen?
        # oder aus allem den mean?
    return 1/n**2 * sup

def superstar_4(n, d, p):
    sup = 0
    for i in range(len(d)):
        sup += d[i]          #d[i] * p[i]          #um vanishing fÃ¼r einen 0 value zu verhindern alternativ: d+p/2 also mean nehmen?
        # oder aus allem den mean?
    return 1/n**2 * sup

superstar(1, [1], [1])      #kommt es in produktivcode vor? wie mit nicht vorkommenden Werten umgehen?

1.0

In [14]:
def min_max_scaling(arr, min_val, max_val):
    return [(x - min_val)/(max_val - min_val) for x in arr]

past_years = 3
max_amount_days = past_years*365
max_distance_float = max_amount_days*24*60*60

peak_positions = [1, 25, 50, 75, 100]
days_distances = [0.00, max_distance_float*0.25, max_distance_float*0.5, max_distance_float*0.75, max_distance_float]
peak_positions = min_max_scaling(peak_positions, 1, 100) #101 oder 100 als edge 
# change to (0,1], sonst sobald ein wert 0 ist also min, dann resultat auch 0 => 0 ist viel zu common siehe bsp file
# => min value um 1 reduzieren um skalar zu verschieben
days_distances = min_max_scaling(days_distances, 0.0, max_distance_float)
peak_positions, days_distances, max_distance_float   ###skalierungsproblem!

([0.0, 0.24242424242424243, 0.494949494949495, 0.7474747474747475, 1.0],
 [0.0, 0.25, 0.5, 0.75, 1.0],
 94608000)

In [15]:
import numpy as np

past_years = 3
max_amount_days = past_years * 365
max_distance_float = max_amount_days * 24 * 60 * 60

train_df["superstar_v1_x"] = np.nan
train_df["superstar_v1_y"] = np.nan
train_df["superstar_v2_x"] = np.nan
train_df["superstar_v2_y"] = np.nan
train_df["superstar_v3_x"] = np.nan
train_df["superstar_v3_y"] = np.nan
train_df["superstar_v4_x"] = np.nan
train_df["superstar_v4_y"] = np.nan
test_df["hits_in_past_x"] = 0
test_df["hits_in_past_y"] = 0
train_df["superstar_x"] = 0
train_df["superstar_y"] = 0

it = 0
for index, row in train_df.iterrows():
    artists_in_row = [row["artist1_id"]]
    if not pd.isna(row["artist2_id"]):
        artists_in_row.append(row["artist2_id"])
    
    if it % 10000 == 0.0:
        print(it)
    it +=1

    present = row["date"].replace(hour=23, minute=59, second=59)
    border_day = present - pd.DateOffset(years=past_years)
    to_filter = df_song_chart[(df_song_chart["week"] <= present) & (df_song_chart["week"] > border_day)]

    for nr_art, artist in enumerate(artists_in_row):
        hits_amount = 0
        song_ids = []
        peak_positions = []
        days_distances = []

        df_num_hit = pd.merge(to_filter, df_songs)
        df_num_hit_cpy = df_num_hit.copy()
        if not df_num_hit.empty:
            df_num_hit = df_num_hit.drop_duplicates(subset=["song_id"])
            df_num_hit = df_num_hit[df_num_hit["artists_ids"].apply(lambda x: artist in x)]

            hits_amount = df_num_hit["song_id"].nunique()
            song_ids = df_num_hit["song_id"].tolist()

            #insert rest of calc here
            if hits_amount > 0:
                for song_id in song_ids:
                    df_song_peak_days = df_num_hit_cpy[df_num_hit_cpy["song_id"] == song_id]
                    min_peak_position = df_song_peak_days["peak_position"].min()
                    peak_positions.append(min_peak_position)
    
                    peak_week = df_song_peak_days.loc[df_song_peak_days["peak_position"].idxmin()]["week"].replace(hour=23, minute=59, second=59)
                    distance = abs(peak_week - present)
                    days_distances.append(distance.total_seconds())
    
                peak_positions = min_max_scaling(peak_positions, 1, 100)
                days_distances = min_max_scaling(days_distances, 0.00, max_distance_float)
    
                if nr_art == 0:
                    train_df.loc[index, "superstar_v1_x"] = superstar(hits_amount, peak_positions, days_distances)
                    train_df.loc[index, "superstar_v2_x"] = superstar_2(hits_amount, peak_positions, days_distances)
                    train_df.loc[index, "superstar_v3_x"] = superstar_3(hits_amount, peak_positions, days_distances)
                    train_df.loc[index, "superstar_v4_x"] = superstar_4(hits_amount, peak_positions, days_distances)
                    train_df.loc[index, "hits_in_past_x"] = hits_amount
                    train_df.loc[index, "superstar_x"] = 1
                elif nr_art == 1:
                    train_df.loc[index, "superstar_v1_y"] = superstar(hits_amount, peak_positions, days_distances)
                    train_df.loc[index, "superstar_v2_y"] = superstar_2(hits_amount, peak_positions, days_distances)
                    train_df.loc[index, "superstar_v3_y"] = superstar_3(hits_amount, peak_positions, days_distances)
                    train_df.loc[index, "superstar_v4_y"] = superstar_4(hits_amount, peak_positions, days_distances)
                    train_df.loc[index, "hits_in_past_x"] = hits_amount
                    train_df.loc[index, "superstar_y"] = 1
                #print(str(nr_art) + ":   " + str(superstar(hits_amount, peak_positions, days_distances)))

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000

In [16]:
train_df

,song_id,song_name,song_popularity,explicit,song_type,track_number,num_artists,num_available_markets,release_date,duration_ms,...,superstar_v1_y,superstar_v2_x,superstar_v2_y,superstar_v3_x,superstar_v3_y,superstar_v4_x,superstar_v4_y,superstar_x,superstar_y,hits_in_past_x
0,7IRjhtyxOuOfKf7o6mGx7h,Tango Ranchero,0.0,False,Solo,10.0,1.0,79.0,2015-08-26,155253.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
538,5b6DqoJcFC1D4yr6VKwaKY,Tango Elena,0.0,False,Solo,11.0,1.0,79.0,2015-08-26,135773.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
539,7BxuhX0WGbu9XL8IfEKvRy,Fireside Fantasy,0.0,False,Solo,26.0,1.0,79.0,2015-08-26,196989.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
540,0p0uCNGR5yD4R3jRtAUNXa,Il Silenzio,0.0,False,Solo,7.0,1.0,79.0,2015-08-26,200973.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
541,2OBXg5ZLAekWbJCDL7yyFn,God Bless the Child,0.0,False,Solo,11.0,1.0,79.0,2015-08-26,206720.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172024,5jHX0smzUImIP0BersUKJv,Puerto Toro,0.0,False,Solo,4.0,1.0,79.0,2018-08-25,355000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
172025,3nXCl6A9GI9008YJb8biqz,The Last Hippie,0.0,False,Solo,5.0,1.0,79.0,2018-08-25,385984.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
172026,16h5mVR7abqHXj8jBAiPdX,Not Mushroom,0.0,False,Solo,6.0,1.0,79.0,2018-08-25,398629.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
172027,0U8KFcdXcJE7Rh1F12CGTF,Time Lapse,0.0,False,Solo,21.0,1.0,79.0,2018-08-25,535148.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN
172022,54AH4QCcA4aDpcCvpZIVV5,Minor Times,0.0,False,Solo,2.0,1.0,79.0,2018-08-25,437768.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN

In [17]:
train_df.drop(columns=["date"], inplace=True)
train_df.to_csv("train_df_superstar_v1_0.csv", index=False)

In [18]:
# train_df = pd.read_csv("train_df_superstar_v1_0.csv", sep=",")
# train_df['date'] = pd.to_datetime(train_df['release_date'])
# train_df.sort_values(by="date", inplace=True)
# train_df

In [19]:
border_start_train_day = (pd.to_datetime(train_df['release_date']).iloc[-1]).replace(hour=23, minute=59, second=59)
border_start_train_day

Timestamp('2018-08-25 23:59:59')

In [20]:
import numpy as np

past_years = 3
max_amount_days = past_years * 365
max_distance_float = max_amount_days * 24 * 60 * 60

test_df["superstar_v1_x"] = np.nan
test_df["superstar_v1_y"] = np.nan
test_df["superstar_v2_x"] = np.nan
test_df["superstar_v2_y"] = np.nan
test_df["superstar_v3_x"] = np.nan
test_df["superstar_v3_y"] = np.nan
test_df["superstar_v4_x"] = np.nan
test_df["superstar_v4_y"] = np.nan
test_df["hits_in_past_x"] = 0
test_df["hits_in_past_y"] = 0
test_df["superstar_x"] = 0
test_df["superstar_y"] = 0

it = 0
for index, row in test_df.iterrows():
    artists_in_row = [row["artist1_id"]]
    if not pd.isna(row["artist2_id"]):
        artists_in_row.append(row["artist2_id"])

    if it % 10000 == 0.0:
        print(it)
    it +=1

    present = row["date"].replace(hour=23, minute=59, second=59)
    border_day = present - pd.DateOffset(years=past_years)
    to_filter = df_song_chart[(df_song_chart["week"] <= border_start_train_day) & (df_song_chart["week"] > border_day)]    

    for nr_art, artist in enumerate(artists_in_row):
        hits_amount = 0
        song_ids = []
        peak_positions = []
        days_distances = []

        df_num_hit = pd.merge(to_filter, df_songs)
        df_num_hit_cpy = df_num_hit.copy()
        if not df_num_hit.empty:
            df_num_hit = df_num_hit.drop_duplicates(subset=["song_id"])
            df_num_hit = df_num_hit[df_num_hit["artists_ids"].apply(lambda x: artist in x)]

            hits_amount = df_num_hit["song_id"].nunique()
            song_ids = df_num_hit["song_id"].tolist()

            #insert rest of calc here
            if hits_amount > 0:
                for song_id in song_ids:
                    df_song_peak_days = df_num_hit_cpy[df_num_hit_cpy["song_id"] == song_id]
                    min_peak_position = df_song_peak_days["peak_position"].min()
                    peak_positions.append(min_peak_position)

                    peak_week = df_song_peak_days.loc[df_song_peak_days["peak_position"].idxmin()]["week"].replace(hour=23, minute=59, second=59)
                    distance = abs(peak_week - present)
                    days_distances.append(distance.total_seconds())

                peak_positions = min_max_scaling(peak_positions, 1, 100)
                days_distances = min_max_scaling(days_distances, 0.00, max_distance_float)
                
                # if superstar(hits_amount, peak_positions, days_distances) == 0:
                #     print(hits_amount, peak_positions, days_distances, row["song_id"])
                    
                if nr_art == 0:
                    test_df.loc[index, "superstar_v1_x"] = superstar(hits_amount, peak_positions, days_distances)
                    test_df.loc[index, "superstar_v2_x"] = superstar_2(hits_amount, peak_positions, days_distances)
                    test_df.loc[index, "superstar_v3_x"] = superstar_3(hits_amount, peak_positions, days_distances)
                    test_df.loc[index, "superstar_v4_x"] = superstar_4(hits_amount, peak_positions, days_distances)
                    test_df.loc[index, "hits_in_past_x"] = hits_amount
                    test_df.loc[index, "superstar_x"] = 1
                elif nr_art == 1:
                    test_df.loc[index, "superstar_v1_y"] = superstar(hits_amount, peak_positions, days_distances)
                    test_df.loc[index, "superstar_v2_y"] = superstar_2(hits_amount, peak_positions, days_distances)
                    test_df.loc[index, "superstar_v3_y"] = superstar_3(hits_amount, peak_positions, days_distances)
                    test_df.loc[index, "superstar_v4_y"] = superstar_4(hits_amount, peak_positions, days_distances)
                    test_df.loc[index, "hits_in_past_y"] = hits_amount
                    test_df.loc[index, "superstar_y"] = 1
                #print(str(nr_art) + ":   " + str(superstar(hits_amount, peak_positions, days_distances)))

0
10000
20000
30000
40000
50000

In [21]:
test_df

,song_id,song_name,song_popularity,explicit,song_type,track_number,num_artists,num_available_markets,release_date,duration_ms,...,superstar_v1_x,superstar_v1_y,superstar_v2_x,superstar_v2_y,superstar_v3_x,superstar_v3_y,superstar_v4_x,superstar_v4_y,superstar_x,superstar_y
172150,4Gsqw7pb3z4OPDUeES6Daz,Don't Speak (8-Bit No Doubt Emulation),1.0,False,Solo,24.0,1.0,79.0,2018-08-26,266069.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
172149,6tv2ZtGQcEiszwNpBx7wK2,Livin' It Up (8-Bit MONSTA X Emulation),0.0,False,Solo,23.0,1.0,79.0,2018-08-26,222211.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
172147,2Yg7VknojyXmbAKnmrSAMU,Bitter Sweet Symphony (8-Bit The Verve Emulation),2.0,False,Solo,27.0,1.0,79.0,2018-08-26,255423.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
172139,7g9Vsa7alv8WuR9COxDu9k,Sex and Candy (8-Bit Marcy Playground Emulation),0.0,False,Solo,21.0,1.0,79.0,2018-08-26,167013.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
172146,4H1sr1GwbRuVIHZWcfkR8R,Day Spring,0.0,False,Solo,3.0,1.0,79.0,2018-08-26,278400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226332,6WrGNqos7nZLxV7QWTgyNO,I'll Keep You Satisfied,1.0,False,Collaboration,23.0,2.0,78.0,2019-08-23,126360.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
226331,13MADoRclDrvJXcH0l7CFA,You Were on My Mind,1.0,False,Solo,8.0,1.0,79.0,2019-08-23,163533.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
226356,7goArBQdsalqclSyaTywAS,Shimmy Shimmy Ya,7.0,False,Solo,8.0,1.0,78.0,2019-08-23,161200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
226343,2CZ46u5NGXQFXke3PMCuAK,Today I Started Loving You Again,3.0,False,Solo,15.0,1.0,78.0,2019-08-23,172147.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
226357,6Fh2QgjCxL96dA3Gtpfr4Q,One Sweet Day (16-Bit Mariah Carey & Boyz II M...,0.0,False,Solo,27.0,1.0,79.0,2019-08-26,260910.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [22]:
test_df.drop(columns=["date"], inplace=True)
test_df.to_csv("test_df_superstar_v1_0.csv", index=False)

In [23]:
data = pd.concat([train_df, test_df], axis=0)

In [24]:
data.to_csv("data_superstar_v1_0.csv", index=False)

In [25]:
nsjkddnfs

NameError: name 'nsjkddnfs' is not defined

In [ ]:
df_num_hit = pd.merge(df_song_chart, df_songs)
print(df_num_hit["peak_position"].min())
art_id = test_df[test_df["song_id"] == "4TWwtyjMkd6bQBNdHhpRaP"]["artist1_id"]
df_num_hit = df_num_hit[df_num_hit["artists_ids"].apply(lambda x: art_id.iloc[0] in x)]
df_num_hit

In [ ]:
(683270/30636) *  5  +1.8586 # runtime

In [ ]:
import numpy as np
train_df["superstar_v1_x"] = 1.0
train_df["superstar_v1_y"] = np.nan
# Assuming train_df is your pandas DataFrame
train_np_array = train_df.to_numpy()
train_np_array

In [ ]:
column_names = train_df.columns
# Assuming train_np_array is your NumPy array and column_names is a list containing the column names in the same order as they appear in train_np_array

column_name_to_index = {name: index for index, name in enumerate(column_names)}
column_name_to_index

In [ ]:
song_chart_np = df_song_chart.to_numpy() 
column_names_song_charts = df_song_chart.columns
# Assuming train_np_array is your NumPy array and column_names is a list containing the column names in the same order as they appear in train_np_array

column_index_song_chart = {name: index for index, name in enumerate(column_names_song_charts)}
column_index_song_chart

In [ ]:
song_np = df_songs.to_numpy()
column_names = df_songs.columns
# Assuming train_np_array is your NumPy array and column_names is a list containing the column names in the same order as they appear in train_np_array

column_index_songs = {name: index for index, name in enumerate(column_names)}
column_index_songs

In [ ]:
import numpy as np

# Assuming train_np_array is your NumPy array

past_years = 3
max_amount_days = past_years * 365
max_distance_float = max_amount_days * 24 * 60 * 60

# Create columns for superstar_v1_x and superstar_v1_y
#train_np_array = np.column_stack((train_np_array, np.full(len(train_np_array), 1.0), np.full(len(train_np_array), np.nan)))

it = 0
for row in train_np_array:
    artists_in_row = [row[column_name_to_index["artist1_id"]]]  # Replace artist1_id_index with the index of the artist1_id column
    if pd.notna(row[column_name_to_index["artist2_id"]]):  # Replace artist2_id_index with the index of the artist2_id column
        artists_in_row.append(row[column_name_to_index["artist2_id"]])

    print(it)
    it += 1

    present = row[column_name_to_index["date"]].replace(hour=23, minute=59, second=59)  # Replace date_index with the index of the date column
    border_day = present - pd.DateOffset(years=past_years)
    to_filter = song_chart_np[(song_chart_np[:, column_index_song_chart["week"]] <= present) & (song_chart_np[:, column_index_song_chart["week"]] > border_day)]  # Replace week_index with the index of the week column

    for nr_art, artist in enumerate(artists_in_row):
        hits_amount = 0
        song_ids = []
        peak_positions = []
        days_distances = []

        df_num_hit = pd.merge(pd.DataFrame(to_filter, columns=column_names_song_charts), df_songs)  # Assuming df_songs is your NumPy array
        np_num_hits = df_num_hit.to_numpy()
        column_names = df_num_hit.columns
        # Assuming train_np_array is your NumPy array and column_names is a list containing the column names in the same order as they appear in train_np_array
        
        column_index_num_hits = {name: index for index, name in enumerate(column_names)}
        np_num_hits_cpy = np_num_hits.copy()
        if not np_num_hits.size == 0:
            #print(np_num_hits_cpy)
            # Convert the object array to a DataFrame
            df_num_hits = pd.DataFrame(np_num_hits, columns=column_names)
            
            # Perform the unique operation on the DataFrame
            df_num_hits_unique = df_num_hits.drop_duplicates(subset=["song_id"])  # Assuming "song_id" is the column name for the key
            #print(df_num_hits_unique)
            # Convert back to a NumPy array if needed
            np_num_hits = df_num_hits_unique.to_numpy()

            np_between = np_num_hits[:, column_index_num_hits["artists_ids"]]
            # if np_between.ndim == 1:
            #     np_between = np_between.reshape(-1, 1)
            #np_num_hits = np_num_hits[np.unique(np_num_hits[:, column_index_num_hits["song_id"]], axis=0)]  # Replace song_id_index with the index of the song_id column
            np_num_hits = np_num_hits[np.apply_along_axis(lambda x: artist in x, axis=1, arr=np_between)]  # Replace artists_ids_index with the index of the artists_ids column
            print(np_num_hits)
            hits_amount = np_num_hits.size #np.unique(np_num_hits[:, column_index_num_hits["song_id"]]).size
            song_ids = np_num_hits[:, column_index_num_hits["song_id"]].tolist()
            print(song_ids)
            # insert rest of calc here
            if hits_amount > 0:
                for song_id in song_ids:
                    df_song_peak_days = np_num_hits_cpy[np_num_hits_cpy[:, column_index_num_hits["song_id"]] == song_id]
                    min_peak_position = np.min(df_song_peak_days[:, column_index_num_hits["peak_position"]])
                    peak_positions.append(min_peak_position)

                    peak_week = df_song_peak_days[np.argmin(df_song_peak_days[:, column_index_num_hits["peak_position"]]), column_index_num_hits["week"]]
                    distance = abs(peak_week - present)
                    days_distances.append(distance.total_seconds())

                peak_positions = min_max_scaling(peak_positions, 1, 100)
                days_distances = min_max_scaling(days_distances, 0.00, max_distance_float)

                if nr_art == 0:
                    row[column_name_to_index["superstar_v1_x"]] = superstar(hits_amount, peak_positions, days_distances)  # Replace superstar_v1_x_index with the index of the superstar_v1_x column
                elif nr_art == 1:
                    row[column_name_to_index["superstar_v1_y"]] = superstar(hits_amount, peak_positions, days_distances)  # Replace superstar_v1_y_index with the index of the superstar_v1_y column
                print(str(nr_art) + ":   " + str(superstar(hits_amount, peak_positions, days_distances)))

In [ ]:
np_num_hits[0, column_index_num_hits["artists_ids"]][0]

In [ ]:
train_df["superstar_native_x"] = 0
train_df["superstar_native_y"] = np.nan

### test_df