In [1]:
import pandas as pd

df_hsp_song_collab = pd.read_csv("HSP_song_collab.csv", sep=",")
df_hsp_song_collab

,song_id,song_name,song_popularity,explicit,song_type,track_number,num_artists,num_available_markets,release_date,duration_ms,...,betweenesscentrality_y,closnesscentrality_y,clustering_y,degree_y,eccentricity_y,eigencentrality_y,weighted degree_y,Cluster_y,profile_y,years_on_charts
0,7kXUEJmfvRXbzxOC0pHQgb,I Can't Believe I'm Losing You,5.0,False,Solo,12.0,1.0,79.0,1995-01-01,162667.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.000000
1,7A131DrpfbWAfNJLrxikwf,Top Of The Stairs,26.0,False,Solo,4.0,1.0,2.0,1995-01-01,271307.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.000000
2,4SRjOJm5AjO3fxXpZSTEBb,Never Crossed My Mind,20.0,False,Solo,3.0,1.0,2.0,1995-01-01,242027.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.000000
3,592dtCLAyLQdUallLhJinO,Daddy Cool,1.0,False,Solo,6.0,1.0,79.0,1995-01-01,201307.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.000000
4,2hMAApqyXl7nf2s8dQ6BTv,"Shame, Shame, Shame",0.0,False,Solo,15.0,1.0,79.0,1995-01-01,231973.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911022,5ke0edZBlwRYu01wdej6xq,Let Her In,4.0,False,Solo,7.0,1.0,79.0,2019-08-23,183600.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.383562
911023,12kc7hUJKpArFQurhlNeNW,Stop and Think It Over,1.0,False,Solo,9.0,1.0,79.0,2019-08-23,154413.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.172603
911024,0lej8CemYKkWVHg77Xe1ky,A Man Holdin' on (To a Woman Lettin’ Go),14.0,False,Collaboration,7.0,2.0,79.0,2019-08-23,231898.0,...,0.0,0.666667,0.0,1.0,2.0,0.5,2.0,3.0,1A 2A 3A 4A,0.191781
911025,7goArBQdsalqclSyaTywAS,Shimmy Shimmy Ya,7.0,False,Solo,8.0,1.0,78.0,2019-08-23,161200.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.287671
911026,6Fh2QgjCxL96dA3Gtpfr4Q,One Sweet Day (16-Bit Mariah Carey & Boyz II M...,0.0,False,Solo,27.0,1.0,79.0,2019-08-26,260910.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.517808

## Setup for Superstar:

within 3 years

In [2]:
max_amount_days = 3*365
max_amount_days

past_years = 3

In [3]:
from sklearn.model_selection import train_test_split
df_hsp_song_collab['date'] = pd.to_datetime(df_hsp_song_collab['release_date'])
df_hsp_song_collab.sort_values(by="date", inplace=True)

train_df, test_df = train_test_split(df_hsp_song_collab, test_size=0.25, shuffle=False)
#train_df.drop(columns="date", inplace=True)
#test_df.drop(columns="date", inplace=True)

present = (train_df["date"].iloc[-1]).replace(hour=23, minute=59, second=59)
present_id = train_df["song_id"].iloc[-1]
border_day = present - pd.DateOffset(years=past_years) #border day doesn't belong to the timeframe

present, border_day

(Timestamp('2015-08-19 23:59:59'), Timestamp('2012-08-19 23:59:59'))

### days and peak position:

In [4]:
df_song_chart = pd.read_csv("../../MusicOSet/musicoset_popularity/song_chart.csv", sep="\t")            #nur auf train daten, da rest unbekannt (für charts)
df_song_chart['week'] = pd.to_datetime(df_song_chart['week']) #evtl später wegen runtime
df_song_chart

,song_id,rank_score,peak_position,weeks_on_chart,week
0,3e9HZxeyfWwjeyPAMmWSSQ,100,100,7,2018-12-29
1,5p7ujcrUXASCNwRaWNHR1C,99,99,11,2018-12-29
2,2xLMifQCjDGFmkHkpNLD9h,98,100,20,2018-12-29
3,3KkXRkHbMCARz0aVfEt68P,97,97,9,2018-12-29
4,1rqqCSm0Qe4I9rUvWncaom,95,96,20,2018-12-29
...,...,...,...,...,...
250387,6vPS75nWOKkuH5WTLD8hDc,7,23,5,1964-01-04
250388,2BCjoFA0nJlXBLRf3164bN,6,6,0,1964-01-04
250389,7Gk1QKi2BAZCnrYlrYEDjC,4,11,4,1964-01-04
250390,7rxev6ErpRE5VYaamjs4T3,2,2,0,1964-01-04
250391,1TRvdHDqCIcTQpHTZbFttC,1,1,0,1964-01-04

In [5]:
to_filter = df_song_chart[df_song_chart["song_id"] == present_id] ## if len == 0 append 1

In [6]:
#mit bsp id

to_filter = df_song_chart[df_song_chart["song_id"] == "7yq4Qj7cqayVTp3FF9CWbm"]#.copy()
#to_filter['week'] = pd.to_datetime(to_filter['week'])
to_filter = to_filter[(to_filter["week"] < present) & (to_filter["week"] > border_day)]#pd.Timestamp("2015-05-02"))] ist immer für die Vergangene Woche das chart datum?
to_filter

,song_id,rank_score,peak_position,weeks_on_chart,week
12415,7yq4Qj7cqayVTp3FF9CWbm,51,71,44,2015-05-09
12475,7yq4Qj7cqayVTp3FF9CWbm,59,71,43,2015-05-02
12537,7yq4Qj7cqayVTp3FF9CWbm,63,71,42,2015-04-25
12600,7yq4Qj7cqayVTp3FF9CWbm,61,71,41,2015-04-18
12664,7yq4Qj7cqayVTp3FF9CWbm,63,71,40,2015-04-11
12732,7yq4Qj7cqayVTp3FF9CWbm,61,71,39,2015-04-04
12799,7yq4Qj7cqayVTp3FF9CWbm,63,71,38,2015-03-28
12867,7yq4Qj7cqayVTp3FF9CWbm,64,71,37,2015-03-21
12932,7yq4Qj7cqayVTp3FF9CWbm,68,71,36,2015-03-14
13000,7yq4Qj7cqayVTp3FF9CWbm,70,71,35,2015-03-07
13071,7yq4Qj7cqayVTp3FF9CWbm,69,71,34,2015-02-28
13141,7yq4Qj7cqayVTp3FF9CWbm,68,71,33,2015-02-21
13203,7yq4Qj7cqayVTp3FF9CWbm,69,71,32,2015-02-14
13272,7yq4Qj7cqayVTp3FF9CWbm,70,71,31,2015-02-07
13337,7yq4Qj7cqayVTp3FF9CWbm,71,71,30,2015-01-31
13400,7yq4Qj7cqayVTp3FF9CWbm,68,69,29,2015-01-24
13465,7yq4Qj7cqayVTp3FF9CWbm,65,69,28,2015-01-17
13529,7yq4Qj7cqayVTp3FF9CWbm,69,69,27,2015-01-10
13595,7yq4Qj7cqayVTp3FF9CWbm,69,69,26,2015-01-03
13660,7yq4Qj7cqayVTp3FF9CWbm,69,69,25,2014-12-27
13729,7yq4Qj7cqayVTp3FF9CWbm,64,69,24,2014-12-20
13799,7yq4Qj7cqayVTp3FF9CWbm,61,69,23,2014-12-13
13864,7yq4Qj7cqayVTp3FF9CWbm,67,69,22,2014-12-06
13928,7yq4Qj7cqayVTp3FF9CWbm,69,69,21,2014-11-29
14009,7yq4Qj7cqayVTp3FF9CWbm,55,55,20,2014-11-22
14080,7yq4Qj7cqayVTp3FF9CWbm,53,54,19,2014-11-15
14152,7yq4Qj7cqayVTp3FF9CWbm,52,54,18,2014-11-08
14217,7yq4Qj7cqayVTp3FF9CWbm,54,54,17,2014-11-01
14281,7yq4Qj7cqayVTp3FF9CWbm,51,51,16,2014-10-25
14348,7yq4Qj7cqayVTp3FF9CWbm,48,49,15,2014-10-18
14408,7yq4Qj7cqayVTp3FF9CWbm,49,49,14,2014-10-11
14470,7yq4Qj7cqayVTp3FF9CWbm,47,47,13,2014-10-04
14533,7yq4Qj7cqayVTp3FF9CWbm,46,46,12,2014-09-27
14598,7yq4Qj7cqayVTp3FF9CWbm,42,42,11,2014-09-20
14661,7yq4Qj7cqayVTp3FF9CWbm,40,40,10,2014-09-13
14727,7yq4Qj7cqayVTp3FF9CWbm,40,40,9,2014-09-06
14795,7yq4Qj7cqayVTp3FF9CWbm,37,37,8,2014-08-30
14864,7yq4Qj7cqayVTp3FF9CWbm,37,37,7,2014-08-23
14935,7yq4Qj7cqayVTp3FF9CWbm,31,31,6,2014-08-16
15008,7yq4Qj7cqayVTp3FF9CWbm,26,26,5,2014-08-09
15078,7yq4Qj7cqayVTp3FF9CWbm,26,26,4,2014-08-02
15153,7yq4Qj7cqayVTp3FF9CWbm,16,16,3,2014-07-26
15223,7yq4Qj7cqayVTp3FF9CWbm,12,12,2,2014-07-19
15286,7yq4Qj7cqayVTp3FF9CWbm,9,9,0,2014-07-12

In [7]:
min_peak_position = to_filter["peak_position"].min()
peak_position_index = to_filter["peak_position"].idxmin()  #returns first occurance and therfore newer pos
min_peak_position, peak_position_index #best chart placement (append)

(9, 15286)

In [8]:
peak_week = to_filter.loc[peak_position_index]["week"]
peak_week

Timestamp('2014-07-12 00:00:00')

In [9]:
distance = abs(peak_week - present) #distance from peak chart placement
distance

Timedelta('403 days 23:59:59')

In [10]:
seconds_float = distance.total_seconds()  #distance as float append

### Amount of Hits:

In [11]:

to_filter = df_song_chart.copy()
#to_filter['week'] = pd.to_datetime(to_filter['week'])
to_filter = to_filter[(to_filter["week"] < present) & (to_filter["week"] > border_day)]
to_filter

,song_id,rank_score,peak_position,weeks_on_chart,week
11497,5ByIHT8s38diBQf6dkEWbt,100,100,15,2015-08-15
11498,22VdIZQfgXJea34mQxlt81,99,99,8,2015-08-15
11499,2d8JP84HNLKhmd6IYOoupQ,94,99,28,2015-08-15
11500,37f4ITSlgPX81ad2EvmVQr,92,93,16,2015-08-15
11501,0kzw2tRyuL9rzipi5ntlIy,91,97,38,2015-08-15
...,...,...,...,...,...
21872,4UZifG6wVTl3dFIeHKLi8y,5,31,6,2012-08-25
21873,4kte3OcW800TPvOVgrLLj8,4,4,2,2012-08-25
21874,62yJjFtgkhUrXktIoSjgP2,3,8,2,2012-08-25
21875,5lN1EH25gdiqT1SFALMAq1,2,7,6,2012-08-25
21876,1qIgyDoc2rwtq8w49jeWL8,1,1,0,2012-08-25

In [12]:
df_songs = pd.read_csv("../../MusicOSet/musicoset_metadata/songs.csv", sep="\t")            #nur auf train daten, da rest unbekannt (für charts)
df_songs["artists_ids"] = df_songs["artists"].apply(lambda x: list((eval(x)).keys()))
df_songs = df_songs[["song_id", 'artists_ids']]
df_songs

,song_id,artists_ids
0,3e9HZxeyfWwjeyPAMmWSSQ,[66CXWjxzNUsdJxJ2JdwvnR]
1,5p7ujcrUXASCNwRaWNHR1C,[26VFTg2z8YR0cCuwLzESi2]
2,2xLMifQCjDGFmkHkpNLD9h,[0Y5tJX1MQlPlqiwlOH1tJY]
3,3KkXRkHbMCARz0aVfEt68P,"[246dkjvS1zLTtiykXe5h60, 1zNqQNIdeOUZHb8zbZRFMX]"
4,1rqqCSm0Qe4I9rUvWncaom,[20JZFwl6HVl6yg8a4H3ZqK]
...,...,...
20400,4NnhLA66RRLXxKbiiscU9R,[5X3TuTi9OIsJXMGxPwTKM2]
20401,2jHfXdCLibrI1J56LnUAZv,[6lHC2EQMEMZiEmSfFloarn]
20402,6zqsyB7uIvWrL1iCJzpNrs,[5X3TuTi9OIsJXMGxPwTKM2]
20403,5mz9pQZZXNpAw9CdQ7Bk8q,[6lHC2EQMEMZiEmSfFloarn]
20404,2H9CKpZiLDF223BbwehpDF,[6wPhSqRtPu1UhRCDX5yaDJ]

In [13]:
df_songs["artists_ids"].iloc[3]

['246dkjvS1zLTtiykXe5h60', '1zNqQNIdeOUZHb8zbZRFMX']

In [23]:
df_num_hit = pd.merge(to_filter, df_songs)
#df_num_hit = df_num_hit.drop_duplicates(subset=["song_id"])
#df_num_hit[df_num_hit["artists_ids"].apply(lambda x: len(x) > 1)]
df_num_hit

,song_id,rank_score,peak_position,weeks_on_chart,week,artists_ids
0,5ByIHT8s38diBQf6dkEWbt,100,100,15,2015-08-15,[5MouCg6ta7zAxsfMEbc1uh]
1,5ByIHT8s38diBQf6dkEWbt,100,100,14,2015-08-08,[5MouCg6ta7zAxsfMEbc1uh]
2,5ByIHT8s38diBQf6dkEWbt,100,100,13,2015-08-01,[5MouCg6ta7zAxsfMEbc1uh]
3,5ByIHT8s38diBQf6dkEWbt,100,100,12,2015-07-25,[5MouCg6ta7zAxsfMEbc1uh]
4,5ByIHT8s38diBQf6dkEWbt,99,99,11,2015-07-18,[5MouCg6ta7zAxsfMEbc1uh]
...,...,...,...,...,...,...
10375,1jhgT2iu9vcwQy0ukJ8fgW,14,17,10,2012-08-25,[0Bvs8yPjrQSbmVIRqSg1Sp]
10376,3b7CDTKB0SRTmQ6ytYi5vZ,53,85,24,2012-08-25,[0BvkDsjIUla7X0k6CSWh1I]
10377,2L7rZWg9RLxIwnysmxm4xk,41,99,20,2012-08-25,[1uNFoZAHBGtllmzznpCI3s]
10378,1h2d0gzM9ZqiBYbc2bx22V,37,62,20,2012-08-25,[4AK6F7OLvEQ5QYCBNiQWHq]
10379,5lN1EH25gdiqT1SFALMAq1,2,7,6,2012-08-25,[7mnBLXK823vNxN3UWB7Gfz]

In [69]:
df_counts = df_num_hit.groupby('song_id')['artists_ids'].apply(lambda x: list(x)).reset_index()
df_counts["artists_ids"] = df_counts["artists_ids"].apply(lambda x: [row for row_list in x for row in row_list]).apply(lambda x: len(set(x)))
df_counts

                    song_id  artists_ids
0    00z7KscyujNtThfKhIVeEb            1
1    01Lr5YepbgjXAWR9iOEyH1            1
2    01XFgRZfZI7oBagNf1Loml            1
3    01e8dGbulrphX8j3fZDQYk            1
4    01mWFDRL40UlnbOXya5gqm            1
..                      ...          ...
758  7sk4RFtliYFKSgjKnsJg4t            1
759  7wdzLe2Gsx1RGqbvYZHASz            1
760  7x46YkKAwp3yZpaa72n5Mu            1
761  7xoUc6faLbCqZO6fQEYprd            1
762  7yq4Qj7cqayVTp3FF9CWbm            1

[763 rows x 2 columns]

In [15]:
df_num_hit = df_num_hit[df_num_hit["artists_ids"].apply(lambda x: "17lzZA2AlOHwCwFALHttmp" in x)] #bsp artist_id 
amount_hits = df_num_hit["song_id"].nunique()                                                              #werden identische songs mit anderen Artists seperat gezählt? (intuitive ja) include it
amount_hits

3

## Loop:

In [16]:
train_df

,song_id,song_name,song_popularity,explicit,song_type,track_number,num_artists,num_available_markets,release_date,duration_ms,...,closnesscentrality_y,clustering_y,degree_y,eccentricity_y,eigencentrality_y,weighted degree_y,Cluster_y,profile_y,years_on_charts,date
0,7kXUEJmfvRXbzxOC0pHQgb,I Can't Believe I'm Losing You,5.0,False,Solo,12.0,1.0,79.0,1995-01-01,162667.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,1995-01-01
3659,5pedBzuqzuqb8NPXqXFm1T,Song To The Siren - Live From Sabresonic Night...,35.0,False,Solo,3.0,1.0,79.0,1995-01-01,196827.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,1995-01-01
3658,7E89BPSPTtBaR9mKK88WhD,Three Little Birdies Down Beats,30.0,False,Solo,4.0,1.0,79.0,1995-01-01,338733.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,1995-01-01
3657,1xdRFXv3ytSOdj8GuT3Rge,Thank You Lord (Interlude),20.0,False,Solo,10.0,1.0,77.0,1995-01-01,56067.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,1995-01-01
3656,5wlQIBbKIWoB7AnSw09C6C,All This Love,26.0,False,Solo,9.0,1.0,77.0,1995-01-01,361840.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,1995-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683396,6xUjsB26W7wzU4MSlZ9v2W,Afterglow (174 BPM),0.0,False,Solo,16.0,1.0,79.0,2015-08-19,169918.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-19
683430,5AZQNFCdxA3W1nssrtu4Yr,能登半島 Originally Performed By 石川さゆり (オルゴール),0.0,False,Solo,7.0,1.0,79.0,2015-08-19,201027.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-19
683431,0gvKPCmhJzXa4YgptrNvI4,Up the Hill,0.0,False,Solo,30.0,1.0,79.0,2015-08-19,142681.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-19
683432,5FDxZkCXwOOO0CQP3zQUBL,浪花恋しぐれ Originally Performed By 都はるみ・岡千秋 (オルゴール),0.0,False,Solo,6.0,1.0,79.0,2015-08-19,184373.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-19
683433,3m3CVlgUzXQaFkXdMPV3nI,バス・ストップ Originally Performed By 平浩二 (オルゴール),1.0,False,Solo,5.0,1.0,79.0,2015-08-19,227507.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,No Match,0.0,2015-08-19

In [ ]:
df_song_chart = pd.read_csv("../../MusicOSet/musicoset_popularity/song_chart.csv", sep="\t")            #nur auf train daten, da rest unbekannt (für charts)
df_song_chart['week'] = pd.to_datetime(df_song_chart['week']) #evtl später wegen runtime
df_song_chart

In [ ]:
df_songs = pd.read_csv("../../MusicOSet/musicoset_metadata/songs.csv", sep="\t")            #nur auf train daten, da rest unbekannt (für charts)
df_songs["artists_ids"] = df_songs["artists"].apply(lambda x: list((eval(x)).keys()))
df_songs = df_songs[["song_id", 'artists_ids']]
df_songs

In [ ]:
max_amount_days = 3*365
past_years = 3

#superstar = []
amount_hits = []
days_distances = []
peak_positions = []

for index, row in train_df.iterrows():
    artists_in_row = []
    if not row["artist2_id"].isna():
        artists_in_row = [row["artist1_id"]]
    else:
        artists_in_row = [row["artist1_id"], row["artist2_id"]]
    present = (row["date"]).replace(hour=23, minute=59, second=59)
    present_id = row["song_id"]
    border_day = present - pd.DateOffset(years=past_years) #border day doesn't belong to the timeframe
    to_filter = df_song_chart.copy()
    #to_filter['week'] = pd.to_datetime(to_filter['week'])
    to_filter = to_filter[(to_filter["week"] < present) & (to_filter["week"] > border_day)]
    for artist in artists_in_row:
        
        pass

In [17]:
train_df["artist2_id"].iloc[0]

nan